body {
    font-family: 'Anton', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.sudoku {
    cursor: pointer;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.sudoku tr {
    margin: 0;
    transition: 0.3s all;
}

.sudoku td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #bbb;
    transition: 0.3s all;
}

.sudoku td:hover {
    background: #ccc;
}

.row-hover {
    background: #eee;
}

.sudoku td:nth-child(3),
.sudoku td:nth-child(6) {
    border-right: 2px solid #777;
}

.sudoku tr:nth-child(3) td,
.sudoku tr:nth-child(6) td {
    border-bottom: 2px solid #777;
}
