
:root {
  --color-primary-0: #4EBBB7;
  --color-primary-1: #ADEDEA;
  --color-primary-2: #78D6D3;
  --color-primary-3: #2F9E99;
  --color-primary-4: #168E89;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: var( --color-primary-4);
    color: var(--color-primary-1);
}

.sudoku {
    cursor: pointer;
    margin: 20px auto;
    border-spacing: 0;
    font-size: 2em;
}

.sudoku tr {
    margin: 0;
    transition: 0.3s all;
}

.sudoku td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid var(--color-primary-1);
    transition: 0.3s background;
    caret-color: transparent;
}

.sudoku td:hover {
    background: skyblue;
    color: steelblue;
}

.row-hover {
    background: skyblue;
    color: steelblue;
}

.sudoku td.number-active, td.number-selected {
    background: var(--color-primary-1);
    color: var(--color-primary-4);
}

.rowcol-selected {
    background-color: var(--color-primary-2);
    color: var(--color-primary-3);
}


.sudoku td:nth-child(3),
.sudoku td:nth-child(6) {
    border-right: 5px solid var(--color-primary-1);
}

.sudoku tr:nth-child(3) td,
.sudoku tr:nth-child(6) td {
    border-bottom: 5px solid var(--color-primary-1);
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav, #game-control {
    width: 100%;

    transition: 0.5s all;
}

h1 {
    letter-spacing: 2px;
}

button {
    background-color: var(--color-primary-4);
    color: white;
    transition: 0.5s;
    border: 0px;
    margin: 0;
    padding: 10px 20px;
    font-family: 'Anton', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    background: #fff;
    color: var(--color-primary-3)
}